* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
header {
  background-color: #ff9a4b;
  width: 100%;
  height: 50px;
}
main {
  width: 100%;
  margin: 50px 0;
}
.main-content {
  width: 960px;
  display: flex;
  margin: 0 auto;
}
h3 {
  margin: 15px 0 5px 0;
}
.main-box1 {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
  margin: 0 15px;
}
.image1 {
  background-image: url(../img/flow01.png);
  height: 150px;
  width: auto;
  background-position: center;
  background-size: cover;
}
.step {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}
.main-box2 {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  margin: 0 15px;
  padding: 10px;
}
.image2 {
  background-image: url(../img/flow02.png);
  height: 150px;
  width: auto;
  background-position: center;
  background-size: cover;
}
.main-box3 {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  margin: 0 15px;
  padding: 10px;
}
.image3 {
  background-image: url(../img/flow03.png);
  height: 150px;
  width: auto;
  background-position: center;
  background-size: cover;
}
footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  .main-content {
    display: block;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .main-box1 {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .image1 {
    height: 150px;
  }
  .main-box2 {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .image2 {
    height: 150px;
  }
  .main-box3 {
    width: 90%;
    margin: 0 auto;
  }
  .image3 {
    height: 150px;
  }
}